{% extends 'layouts/app.html' %}

{% block title %}Test your luck against the roll of the dice{% endblock %}
{% block meta_description %}Compete against yourself and others by guessing the
outcome of a dice roll. Win points and dominate the leaderboard.{% endblock %}

{% block body %}

<h1>BASE APPLICATION v0.1</h1>
<p>This is a Python Flask application foundation.</p>
<p>Python installed on this server is {{ msg }} </p>

{% endblock %}
