<!DOCTYPE html>
<html>
<head>
  <title>PyBase</title>
  <style>
    html, body {
      font-family: sans-serif;
      background: #f0f0f0;
      margin: 4em;
    }

    .main {
      background: white;
      border: solid 1px #c0c0c0;
      border-radius: 8px;
      padding: 2em;
    }
  </style>
</head>
<body>

  <section class="main">
    <h1>SITE TESTING RECORDER v0.1</h1>
    <p>This is a Python Flask application foundation.</p>
    <p>Python installed on this server is {{ msg }} </p>
    <p>Application Name is  {{ app_info['app_name'] }} </p>
    <p>Application Version is  {{ app_info['app_version'] }} </p>


  </section>

</body>
</html>
