{% extends 'layouts/app.html' %}

{% block title %}Tracking Result{% endblock %}
{% block heading %}<h2>GPS Coordinates Tracker Table of Results.</h2>{% endblock %}

{% block body %}

<style>
table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 50%;
}

th, td {
  padding: 15px;
}
</style>

<div>       

    <table border = 1>

      {% for key, value in result.items() %}
        <tr>
          <th> {{ key }} </th>
          <td> {{ value }} </td>
        </tr>
      {% endfor %}


    </table>


</div>
   
{% endblock %}
